# ignore golang related files
go.mod
.vscode
*.mod
*.sum
*.a.out
*.a
*.o
*.so
*.so.*
*.out
*.exe
*.dll
*.class
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.swn
*.bak
*.tmp
*.log
*.pid
*.lock
*.zip
*.tar
*.gz
*.bz2
*.xz
*.rpm
*.deb
*.rpm.new
*.deb.new
*.jar
